/* 
@Filename: admin event-add.css
@Author: 임다정 (dazoo0221@gmail.com)
@description: 관리자 이벤트-add page css.
*/
th{
    text-align: center;
    vertical-align: middle !important;
}

.thumb-img-box{
    width: 80%;
    height: 400px;
    margin: auto;
    border: 1px solid #ccc;
    text-align: center;
}

.thumb-img-box img{
    width: 95%;
    margin: auto;
    text-align: center;
}
.flx{
    display: flex;
    justify-content: flex-end;
}
