/* 
@Filename: admin order-detail.css
@Author: 임다정 (dazoo0221@gmail.com)
@description: 관리자 order-detail css.
*/

.wrap{
    max-width: 1100px !important;
    margin: auto;
    width: 95%;    
}

table th{
    text-align: center !important;
    vertical-align: middle !important;
}

